VITE_FIREBASE_API_KEY=AIzaSyDwdyp0gPBl4DwmOg5aufwMl4CgkI_DId0
VITE_FIREBASE_AUTH_DOMAIN=fir-student-80ba1.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=fir-student-80ba1
VITE_FIREBASE_STORAGE_BUCKET=fir-student-80ba1.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=428053521321
VITE_FIREBASE_APP_ID=1:428053521321:web:d85ecb4283ac3e9d4b1ab8
VITE_FIREBASE_MEASUREMENT_ID=G-ZPPWLXBKC5